<div class="index_menu">
  <div class="index_menu_item">
    <% if Current.user.present? %>
    <h2>Login and verification</h2>

    <div>
      <%= link_to "Change password", edit_password_path %>
    </div>

    <div>
      <%= link_to "Change email address", edit_identity_email_path %>
    </div>

    <div>
      <%= link_to "Change nickname", edit_identity_nickname_path %>
    </div>

    <div>
      <%= link_to "Two-Factor Authentication", new_two_factor_authentication_profile_totp_path %>
    </div>

    <% if Current.user.otp_required_for_sign_in? %>
      <div><%= link_to "Recovery Codes", two_factor_authentication_profile_recovery_codes_path %></div>
    <% end %>

    <h2>Access history</h2>

    <div>
      <%= link_to "Devices & Sessions", sessions_path %>
    </div>

    <br>

    <%= button_to "Log out", Current.session, method: :delete %>
    <% else %>
      <div>
        <%= link_to "Sign in or create user", sign_in_path %>
      </div>
    <% end %>
  </div>
  <div class="index_menu_item">
    <ul>
    <li><%= link_to "Forums", forums_url %></li>
    <% if Current.user.present? && Current.user.is_admin? %>
      <li><%= link_to "Users", users_url %></li>
      <li><%= link_to "Change role", edit_identity_role_path %></li>
    <% end %>
    </ul>
  </div>
</div>